<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="DayCounter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0"/>
    <supportedRuntime version="v2.0.50727" sku="Client"/>
  </startup>
  <userSettings>
    <DayCounter.Properties.Settings>
      <setting name="Date2" serializeAs="String">
        <value>12/03/2016 08:00:00</value>
      </setting>
      <setting name="Date1" serializeAs="String">
        <value>09/28/2015 08:00:00</value>
      </setting>
      <setting name="UseToday" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="opacityBarValue" serializeAs="String">
        <value>100</value>
      </setting>
    </DayCounter.Properties.Settings>
  </userSettings>
</configuration>
